body {
    background-image: url('https://media.giphy.com/media/l4hLWy2CT8QaaMtI4/source.gif');
    background-size: cover;
    background-repeat: repeat-x;
    max-width: 100%;
    height: auto;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

p {
    text-align: center;
    margin: 0.3em auto 0 !important;
}

#pressKeyTryAgain{
    display: none;
}

h2 {
    text-align: center;
}

.text-center {
  margin: 0 auto 2em;
}
